.row
  .large-10.columns.large-centered.panel
    %h4.subheader.centered
      %a
        Active Cohorts
    %h3.subheader.centered
      - @active_cohorts.each do |cohort|
        = link_to cohort.name, cohort_path(cohort.id) 
        boots: #{cohort.boots.count} mentors: #{cohort.mentors.count}
