.row
  .large-10.columns.large-centered.panel
    %h3.subheader.centered
      Welcome to the DevBootCamp Mentorship Board 
    %h3.subheader.centered
      Please choose a role and login in :)
    .row
      .large-10.large-offset-1.columns
        %h3.subheader.centered
          %a{:href=>"/auth/linkedin?role=mentor"}
            .button
              Mentors
            %a{:href=>"/auth/linkedin?role=boot"}
              .button
                Boots
