.row
  .large-11.columns.large-centered
    %h3.subheader.centered
      Welcome to the DevBootcamp Mentorship Community 
.row
  .large-10.columns.large-centered.panel
    %h2.subheader.centered
      %a{href: "#", "data-reveal-id" => "gen_info"}
        What is the mentorship program?
    %h2.subheader.centered
      %a{href: "#", "data-reveal-id" => "benefits"}
        What are the benefits?
    %h2.subheader.centered
      %a{href: "#", "data-reveal-id" => "commitment"}
        What is the time commitment?
    .row
      .large-3.columns.large-offset-2
        %a{:href=> mentor_sign_up_path}
          .button.expand.success
            Mentor Sign Up
      .large-3.columns.large-offset-2
        %a{:href=> boot_sign_up_path}
          .button.expand.success
            Boot Sign Up
      .large-1.columns
=render "layouts/onboard_modal"
