.row
  .large-11.columns.large-centered
    %h3.subheader.centered
      Welcome to the DevBootcamp Mentorship Community 
.row
  .large-10.columns.large-centered.panel
    %h2.subheader.centered
      %a{href: "#", "data-reveal-id" => "gen_info"}
        What is the mentorship program?
    %h2.subheader.centered
      %a{href: "#", "data-reveal-id" => "benefits"}
        What are the benefits?
    %h2.subheader.centered
      %a{href: "#", "data-reveal-id" => "commitment"}
        What is the time commitment?
    .row
      .large-4.columns.large-centered
        %a{:href=> sign_up_path}
          .button.expand.success
            Sign Up
=render "layouts/onboard_modal"
