%h3
  Greetings #{@user.first_name},

%p
  = @content

%h3
  Happy Mentoring!

  John and Brett

%p
  If you have any questions comments or concerns please contact #{mail_to "john@devbootcamp.com"} or #{mail_to "brett@devbootcamp.com"}.  
