img {
  border-radius: 3px;
}

.middle {
  vertical-align: middle;
}


.align_text {
  line-height: 80px;
  &.subheader {
    font-size: 24px; 
  }
}

.inline {
  display: inline;
}

.none {
  display: none;
}

.textinput {
  height: 70px;
}

.agreement_error {
  margin-top: 10px;
}
