.row
  .large-3.columns
    %h2.subheader
      %a
        Benefits to Mentors
  .large-9.columns
    %ol
      %li
        %h4.subheader Helping others make the awesome leap into the SF Tech Community.
      %li
        %h4.subheader Rekindling your feelings of wonder from when you were a beginner.
      %li
        %h4.subheader Meeting some awesome people and potentially making life long friends.
.row
  .large-3.columns
    %h2.subheader
      %a
        Benefits to Boots
  .large-9.columns
    %ol
      %li
        %h4.subheader Learn from professionals who are currently engaged in real world technology development.
      %li
        %h4.subheader Develop critical networking and cross-functional business skills.
      %li
        %h4.subheader Meeting some awesome people and potentially making life long friends.
