.row
  .large-3.columns
    %h2.subheader
      %a
        Mentor Time Commitment
  .large-9.columns
    %h4.subheader
      A Mentor will get paired with one or two Boots.  A boot is part of a Cohort, which runs 9 weeks.  The time commitment is flexible, as a general rule, as a Mentor, you succeed by having at least 4 meaningful experiences with boots during their time at Dev Bootcamp.  A meaningful experience can take the form of coffee, lunch in you office, pair programming with Boots, ideating on business stuff or just general interactions where you impart your passions on boots.  
.row
  .large-3.columns
    %h2.subheader
      %a
        Boot Time Commitment
  .large-9.columns
    %h4.subheader
      Boots spend 9 weeks at Dev Bootcamp and on average work 10-14 hours per day.  They work their tail off.  Getting a Mentor represents a very small amount of the time they spend working at Dev Bootcamp but it has massive impact on their exposure to real world coding and technology development. 
