.row
  .large-11.columns.large-centered
    %h5.subheader.centered
      questions, comment, concerns : 
      = link_to "john@devbootcamp.com", "mailto:john@devbootcamp.com"
      |
      = link_to "brett@devbootcamp.com", "mailto:brett@devbootcamp.com"
