.row
  .large-3.columns
    %h2.subheader
      %a
        Mentorship
  .large-9.columns
    %h4.subheader
      The act of a senior professional providing a more junior professional guidance and leadership in attempt to allow the junior to make better smarter choices.
    %hr
.row
  .large-3.columns
    %h2.subheader
      %a
        Our Program
  .large-9.columns
    %h4.subheader
      The Dev Bootcamp Mentoship program attempts to pair students, aka Boots, with technology professionals in the bay area.  As Mentors we succeed by inspiring Boots to learn faster and build more effective technology.
    %hr
