#mentor_dropdown
  .row
    .columns.large-4
      %h4.subheader.centered
        Mentorship Interests
    .columns.large-8
      = u.text_area :interests, placeholder: "eg, I'd like to pair program, have boots over for lunch, coffee appts, etc.", class: "textinput"
  .row
    .columns.large-4
      %h4.subheader.centered
        Professional Exp.
    .columns.large-8
      = u.text_area :interests, placeholder: "eg, Rails hacker at XYZ, product designer at ABC, backyard bbqer, micro-brewer, single speed bike commuter", class: "textinput"
  .row
    .columns.large-8.large-centered
      %a{href: "https://docs.google.com/document/pub?id=1sDWOWzoCh33Li-Kt8Z88zZ1p4tORWWcHHfNF5m7IGrA", target: "new"}
        I agree to the Dev Bootcamp Placement Agreement.
      = u.check_box :employment_agreement, id: "agreement"
  .row
    .columns.large-4.large-centered.top.hideforboots
      %small#agreement_error.hidden.error
        please agree to our terms :)

