%nav.top-bar
  %ul.title-area
    %li.name
      %h1 
        = link_to "TheBootBook", "#"
    %li.toggle-topbar.menu-icon
      %a{:href => "#"}
        menu
  %section.top-bar-section
    %ul.right
      - if logged_in?
        %li
          %a
            Welcome #{current_user.first_name}
      %li.divider
      %li.has-dropdown
        %a{ href: "#" }
          options
        %ul.dropdown
          - if ! logged_in?
            %li
              %a{ href: "/auth/linkedin"}
                Login via LinkedIN
          - if logged_in?
            %li
              %a{ href: "/sign_out"}
                Sign Out
