.row
  .large-10.columns.large-centered.panel
    %h4.subheader.centered
      %a
        The next cohort starts on June 24th.
    %h4.subheader.centered
      There will be an informal meet and greet on the night of the 25th.
    %h4.subheader.centered
      RSVP for it here, 
      = link_to "http://devbootcampmentorship.eventbrite.com/", "http://devbootcampmentorship.eventbrite.com/"
    %h5.subheader.centered
      You will be connected with 1 or 2 boots (via email) on or about the 26th of June.
