%div#gen_info.reveal-modal
  %p
    Mentorship - The act of a senior professional providing a more junior professional guidance and leadership in attempt to allow the junior to make better smarter choices.  
  %a.close-reveal-modal
    &#215;
%div#benefits.reveal-modal
  %p
    you get to learn a ton and make life for someone else better
  %a.close-reveal-modal
    &#215;
%div#commitment.reveal-modal
  %p
    The time commitment is flexible.  We would like you to meet with your menteer at least once a week for things like coffee, lunch, pair hacking, business ideating.  There is no set commitment but each cohort runs 9 weeks so once you start mentoring a boot, their time at Dev Bootcamp will last 9 weeks.   
  %a.close-reveal-modal
    &#215;
%div#responsibilities.reveal-modal
  %p
    The time commitment is flexible.  We would like you to meet with your menteer at least once a week for things like coffee, lunch, pair hacking, business ideating.  There is no set commitment but each cohort runs 9 weeks so once you start mentoring a boot, their time at Dev Bootcamp will last 9 weeks.   
  %a.close-reveal-modal
    &#215;
