%div#gen_info.reveal-modal
  = render "layouts/gen_info"
  %a.close-reveal-modal
    &#215;
%div#benefits.reveal-modal
  = render "layouts/benefits"
  %a.close-reveal-modal
    &#215;
%div#commitment.reveal-modal
  = render "layouts/commitment"
  %a.close-reveal-modal
    &#215;
%div#responsibilities.reveal-modal
  = render "layouts/responsibilities"
  %a.close-reveal-modal
    &#215;
