%p
  The time commitment is flexible.  We would like you to meet with your menteer at least once a week for things like coffee, lunch, pair hacking, business ideating.  There is no set commitment but each cohort runs 9 weeks so once you start mentoring a boot, their time at Dev Bootcamp will last 9 weeks.   
